body {
  background-color: #aaffff;
}
ul {
  list-style-type: url("123.png");
}
ol {
  list-style-image: url("123.png");
}
.red {
  color: red;
}
ul.intro-list li li {
  color: rgba(5, 34, 202, 0.815);
}
a:visited {
  color: darkseagreen;
}
